@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
  font-family: 'Familjen Grotesk', sans-serif;
  background: rgb(23,23,23);
  line-height: 1.6;
  /* color: #fff; */
}

a {
  text-decoration: none;
  /* color: #fff; */
}

ul {
  list-style: none;
}

/* colour defination */
:root{
  --shadow: 0 .5rem 1rem rgb(0,0,0,.05);
  --blue: #0D99FF;
  --blue-light: #CFEBFF;
  --blue-dark: #0A7ACC;
  --background: rgba(0, 3, 3, 0.82);
  --contact-color-hover: rgb(255, 130, 0);
  --contact-color: rgb(255, 156, 0);

  --rounded: .25rem;
  --rounded-md: .5rem;
}

/* Logo Configuration */
.logo-container{
  display: flex;
}

.logo-name{
  font-size: 0.7em;
  margin-top: 6px;
  color: rgb(255, 156, 0);
}

.logo {
  width: 60px;
  height: auto;
}

.logo img {
  display: block;
  width: 100%;
  height: auto;
}

/* Header/Navbar */
.main-header {
  position: fixed;
  height: 1000px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  height: 100px;
  padding: 0 30px;
  background-color: #000;
}

/* Hamburger Menu */
.hamburger {
  position: fixed;
  top: 40px;
  right: 30px;
  z-index: 10;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 0;
  left: 0;
  background: rgb(255, 156, 0);
  transition: all 0.8s;
}

.hamburger-middle {
  transform: translateY(6px);
}

.hamburger-bottom {
  transform: translateY(12px);
}

/* Transition hamburger to X when open */
.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background: #fff;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background: #fff;
}

/* Overlay */
.overlay-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

/* display desktop nav on mobile menu*/
.mobile-only {
  display: block;
}
/* hide desktop nav on mobile view*/
.desktop-main-menu {
  display: none;
}


/* ******video configuration****** */
.top-wrapper{
  margin-top: 80px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  margin-bottom: 40px;
  background-image: linear-gradient(rgba(0,0,0,.95)50%,rgba(0,0,0,.95)50%), url(../img/download.jpeg);
}

.top-content{
  background-color: rgb(0, 0, 0);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.top-content h1{
  font-size: 1em;
  color: rgb(255, 156, 0);
  padding: 0 5px 0 5px;
}

.top-wrapper .video-container .top-video{
  display: flex;
  align-items: center;
  justify-content: center;
}

video{
  width: 100%;
  margin: 0 25px 25px 25px;
}

/* **********CONTACT SETTINGS********** */
.container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  margin-bottom: 40px;
}

.container .wrapper{
  box-shadow: 0 0 20px 0 rgba(0,0,0,1);
  border-radius: 20px 20px 20px 20px;
}

.wrapper > *{
  padding: 1.5em;
}

.church-info{
  background-color: rgba(0, 0, 0,0.9);
  border-radius: 20px 20px 0 0;
  color: #fff;
}

.church-info ul{
  margin: 0 0 1rem 0;
  list-style: none;
  padding: 0;
}

.church-info ul li{
  font-size: 14px;
}

.church-info ul li span{
  font-size: 16px;
  font-weight: 600;
}

.church-info ul i{
  color: rgb(255, 156, 0);
  margin-right: 10px;
}

.church-info ul .address{
  margin: 0;
  padding-left: 26px;
  padding-bottom: 15px ;
  max-width: 90%;
}

.church-info .social-box h3{
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 15px;
  color: rgb(255, 156, 0);
}

.brand{
  text-align: center;
}

.space{
  padding-bottom: 15px; 
}

.social-icons a:hover
{
	transform: translateY(-4px);
}

.social-icons a
{
	text-decoration: none;
	font-size: 20px;
	margin-right: 20px;
  color: rgb(255, 156, 0);
	display: inline-block;
	transition: transform 0.5s;
}

.contact{
  background-image: linear-gradient(rgba(5, 3, 3, 0.9)50%,rgba(0,0,0,0.9)50%), url(./media-img/contact_cover.jpg);
  background-position: center;
  background-size: 50%;
  border-radius: 0 0 20px 20px;
}

.contact .head{
    display: flex;
    margin-bottom: 20px;
    padding: 0;
    justify-content:left;
    align-items:center ;
}

.contact h3{
  color: rgb(255, 156, 0);
}

img{
  width: 80px;
}

/* FORM STYLE */
.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label{
  display: block;
}

.contact form .form-group{
  margin: 0;
}

.contact form .full{
  grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea{
  width: 100%;
  padding: 1em;
  outline: none;
  color: #fff;
}

.contact form input, .contact form textarea{
  border: 1px solid var(--contact-color);
  background-color: transparent;
  transition: border 0.5s ease-in-out;
}

.contact form input, .contact form textarea{
  border-radius: var(--rounded);
  border: 1px solid var(--contact-color);
  background-color: transparent;
  transition: border 0.5s ease-in-out;
}

.contact form input:focus,
.contact form textarea:focus{
  border-color: var(--contact-color-hover); 
}

.contact form textarea{
  resize: none;
  overflow-y: auto;
}

.contact form label{
  margin-bottom: 10px;
  color: #fff;
}
  
.contact form .btn-submit{
  
  background-color:var(--contact-color);
  text-decoration: none;
  border: none;
  border-radius: var(--rounded-md);
  width:210%;
  padding: .5rem 0; 
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  display: grid;
  font-size: 1em;
  font-weight: 600;
  place-items: center;
}

.contact form a:hover, .contact form a:focus{
  background-color: var(--contact-color-hover);
  outline: 0;
  transition: background-color .8s ease-in-out;
}
/* Footer */
footer {
  position: relative;
  padding: 20px 0;
  background-color: #000;
}

footer .social-icons,.sign{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer .social-icons a{
  font-size: 20px;
	margin: 0 20px 20px 20px;
  color: rgb(255, 156, 0);
}

footer .sign{
  color: rgb(225,156,0);
  font-size: 12px;
}

/* footer ul li {
  margin-right: 30px;
  color: rgb(225,156,0);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 2.5;
} */

/* footer ul li a {
  color: rgb(255, 156, 0);
  transition: color 0.6s;
}

footer ul li a:hover {
  color: #aaa;
} */
/* Footer End */


/* Stop body scroll */
.stop-scrolling {
  overflow: hidden;
}



/* Mobile menu */
.mobile-main-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background: #000;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Bring menu from right */
.show-menu {
  transform: translateX(0);
}

.mobile-main-menu ul {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 50px;
  width: 100%;
}

.mobile-main-menu ul li {
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1.5px #555 dotted;
  width: 100%;
  text-align: right;
  padding-bottom: 8px;
}

.mobile-main-menu ul li a {
  color: #fff;
  transition: color 0.6s;
}

.mobile-main-menu ul li a:hover {
  color: #aaa;
}

/* Large Screen */
@media screen and (min-width: 780px){
  /* Desktop Menu */
.desktop-main-menu {
  margin-right: 50px;
}

.desktop-main-menu ul {
  display: flex;
}

.desktop-main-menu ul li {
  position: relative;
  margin-right: 20px;
  padding-bottom: 2px;
}

.desktop-main-menu ul li a{
  color: rgb(255, 156, 0);
}

/* Menu item bottom border */
.desktop-main-menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgb(255, 156, 0);
  transform: scaleX(0);
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}

.desktop-main-menu ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}
}



/* Animations */
/*
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(140px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }
}*/
/* Media Queries */
/* 
@media (max-width: 960px) {
  /* Hide desktop menu */
  /*.desktop-main-menu {
    display: none;
  }*/

  /* Show main mobile items */
  /* .mobile-only {
    display: block;
  }

  .section-inner-center h3 {
    font-size: 75px;
  }
}*/



/*
@media (max-width: 600px) {
  .section-inner {
    bottom: 75px;
    left: 20px;
  }

  .section-inner h2 {
    font-size: 40px;
  }

  footer ul li:first-child {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  footer ul li {
    margin-right: 15px;
  }

  .logo {
    width: 150px;
    margin: auto;
  }

  .section-inner-center h3 {
    font-size: 50px;
  }

  /* Stats */
  /*.stats {
    flex-direction: column;
  }

  .stats div {
    margin-bottom: 20px;
  }
}*/
  